.nav {
}

header {
}

.top-nav {
  /* background: blueviolet; */
  height: 50px;
  width: 35%;
  margin-left: 65%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.social-media-container {
  height: 100%;
  width: 30%;
  /* background: green; */
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.fab {
  font-size: 30px;
  color: grey;
}

.signin-cart-container {
  /* background: pink; */
  width: 50%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 21px;
}

.line {
  font-size: 30px;
}

.title {
  padding: 50px 0 30px 0;
  /* background: fuchsia; */
  font-family: "Lovers Quarrel", cursive;
  font-size: 110px;
  font-weight: lighter;
  text-align: center;
}

.nav-container {
  /* padding: 20px; */
  margin: 0 30%;
  /* background: salmon; */
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 15px;
}

.bottom-border {
  margin-top: 20px;
  border-bottom: solid rgba(209, 208, 208, 0.63) 1px;
  width: 100vw;
}
